<!-- <microfrontend-nx-welcome></microfrontend-nx-welcome> -->
<!-- <div>
    <button><a href="http://localhost:4200">HOST</a></button>
</div>
<div class="landingPage">
    <div class="header">
        <h1>REMOTE 1</h1>
    </div>
    <div class="navigateTo">
        <button><a routerLink="remote1/abc">ABC</a></button>
        <button><a routerLink="remote1/xyz">XYZ</a></button>
    </div>
</div> -->
<div class="row header">
    <div class="host">
        <button>
            <a href="http://localhost:4200">HOST</a>
        </button>
    </div>
    <div class="remote">
        <h1>REMOTE 1</h1>
    </div>
</div>
<div class="navigateTo">
    <button><a routerLink="remote1/abc">ABC</a></button>
    <button><a routerLink="remote1/xyz">XYZ</a></button>
</div>
<hr>
<router-outlet></router-outlet>



