/* You can add global styles to this file, and also import other style files */

.header{
    position: relative;
}
.row .remote{
    position: absolute;
    top: -10px;
    left: 44%;
}
.navigateTo{
    display: flex;
    justify-content: center;
}

.landingPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header h1{
    color: rgba(37, 2, 70, 0.92);
}

button a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}
button{
    padding: 10px 25px;
    margin: 10px;
    background-color: rgba(219, 219, 219, 0.553);
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(7, 255, 7);
}

.landingPage.one,
.landingPage.two{
    height: 75vh;
    width: 100%;
}

.landingPage.one{
    background-color: rgba(241, 247, 245, 0.66);
    color: rgba(38, 38, 154, 0.731);
}

.landingPage.two{
    background-color: rgba(186, 231, 253, 0.66);
    color: rgba(89, 25, 25, 0.687);
}
