<!-- <microfrontend-nx-welcome></microfrontend-nx-welcome> -->
<!-- <div>
    <button><a href="http://localhost:4200">HOST</a></button>
    <div class="landingPage">
        <div class="header">
            <h1>REMOTE 2</h1>
        </div>
        <div class="navigateTo">
            <button><a routerLink="remote2/page1">Page 1</a></button>
            <button><a routerLink="remote2/page2">Page 2</a></button>
        </div>
    </div>
</div> -->

<div class="row header">
    <div class="host">
        <button>
            <a href="http://localhost:4200">HOST</a>
        </button>
    </div>
    <div class="remote">
        <h1>REMOTE 2</h1>
    </div>
</div>
<div class="navigateTo">
    <button><a routerLink="remote2/page1">Page 1</a></button>
    <button><a routerLink="remote2/page2">Page 2</a></button>
</div>
<hr>
<router-outlet></router-outlet>